!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "ZURB Foundation"
    / Included CSS Files
    = stylesheet_link_tag "app"
    = javascript_include_tag "foundation/modernizr.foundation"
    
  %body{:class => page_classes}
    %nav.top-bar.container
      %ul.title-area
        %li.name
          %h1
            =link_to 'Project', '/index.html'
        %li.toggle-topbar
          %a
      %section.top-bar-section
        %ul.left
          %li.divider
          %li{:class => data.page.homeClass}
            =link_to '<i class="icon-home"></i> Home', '/index.html' 
          %li.divider
          %li{:class => data.page.contactClass}
            =link_to '<i class="icon-envelope"></i> Contact', '/contact.html' 
          %li.divider
          %li{:class => data.page.priceClass}
            =link_to '<i class="icon-money"></i> Price', '/price.html' 
           
    = yield
    / Application Javascript, safe to override
    = javascript_include_tag "app"
