!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "ZURB Foundation"
    / Included CSS Files
    = stylesheet_link_tag "app"
    = javascript_include_tag "foundation/modernizr.foundation"
    %link{:href => "/contact.html", :rel => "prerender"}/
    %link{:href => "/products.html", :rel => "prerender"}/
    %link{:href => "/index.html", :rel => "prerender"}/
  %body{:class => page_classes}
    %nav.top-bar.container
      %ul.title-area
        %li.name
          %h1
            =link_to I18n.t(:title), '/index.html'
        %li.toggle-topbar
          %a
      %section.top-bar-section
        %ul.left
          %li.divider
          %li{:class => data.page.title == "Home" ? "active" : "" }
            =link_to "<i class='icon-home'></i> #{I18n.t('home.page_title')}", '/index.html' 
          %li.divider
          %li{:class => data.page.title == "Contact" ? "active" : ""}
            =link_to "<i class='icon-envelope'></i> #{I18n.t('contact.page_title')}", '/contact.html' 
          %li.divider
          %li{:class => data.page.title == "Products" ? "active" : ""}
            =link_to "#{I18n.t('products.page_title')}", '/products.html' 
          %li.divider

    = yield
    / Application Javascript, safe to override
    = javascript_include_tag "app"
