---
title: Contact
---

%header
  .row
    .twelve.columns
      %h1 
        %li.icon-envelope.icon-2x
          = I18n.t 'contact.title'
%section#main
  .row
    .six.columns
      %ul.vcard
        %li.fn 
          = I18n.t 'contact.name'
        %li.street-address 
          = I18n.t 'contact.adress'
        %li.locality 
          = I18n.t 'contact.city'
        %li.tel 
          = I18n.t 'contact.tel'
        %li.email
          %a{:href => "mailto:#{I18n.t 'contact.email'}"} 
            = I18n.t 'contact.email'
    .six.columns
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => I18n.t('contact.url'), :width => "100%"}