---
title: Home
---
%header#home
  .row
    .twelve.columns
      %h1
        = image_tag '220px-Antique_cash_register.png'
        %li.icon-2x 
          = I18n.t 'home.title'
      %h2
        Tel : 
        = I18n.t 'contact.tel'
%section#main
  .row
    .twelve.columns
      %h2
        = I18n.t 'home.subtitle1'
      %p
        = I18n.t 'home.paragraph1'
  .row
    .twelve.columns
      %h2
        = I18n.t 'home.subtitle2'
      %p
        = I18n.t 'home.paragraph2'
